html, body, #main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#controlsLeft, #controlsRight {
    position: relative;
    width: 50%;
    height: 100%;
    background: #555;
    float: left;
}

#menuShortcutTop, #menuShortcutBottom {
    position: absolute;
    width: 30px;
    height: 30px;
    width: 0; 
    height: 0;
    left: 50%;
    margin-left: -30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #DDD;
}

#menuShortcutTop {
    transform: rotate(180deg);
}

#menuShortcutBottom {
    bottom: 0px;
}

#temp {
    position: absolute;
    left: 10px;
    top: 10px;
}

#power {
    position: absolute;
    right: 10px;
    top: 10px;
}

#status {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 24px;
    width: 200px;
    margin-top: -12px;
    margin-left: -100px;
    text-align: center;
    background-color: red;
    color: #FFF;
}

#turnMessage {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}


#turnMessage div {
    margin: auto;
}

#turnMessage img {
    width: 100px;
}

#sidewaysPhone {
    position: relative;
    left: -30px;
    top: 20px;
    transform: rotate(90deg);
}

.ring {
    position: absolute;
    width: 70px;
    height: 70px;
    border: 10px solid #FFF;
    border-radius: 200px;
    opacity: .65;
}

.ring:after {
    content: "";
    position: absolute;
    top: -23px;
    left: -23px;
    width: 110px;
    height: 110px;
    border: 3px solid #FFF;
    border-radius: 200px;
}

#leftRing, #rightRing {
    display: none;
}


@media screen and (max-width: 450px) {
    #main {
        display: none !important;
    }
    #turnMessage {
        display: block !important;
    }
}